//fonts
$regular: Poppins-Regular;
$bold: Poppins-Bold;
$extra-bold: Poppins-ExtraBold;

//colors
$primary-bg: #e5e5e5;
$primary-black: #242424;
$primary-grey: #78787a;
$secondary-grey: #adb8c8;
$secondary-grey-2: #91a0b6;
$secondary-grey-3: #c5d1db;
$primary-green: #04bf94;
$secondary-green: rgba(4, 191, 148, 0.16);
